# Flutter/Dart/Pub related
.dart_tool/
.packages
pubspec.lock
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool

# IntelliJ / Android Studio / VS Code
.idea/
*.iml
.vscode/

# iOS/macOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/google-services.json
android/local.properties
android/key.properties
android/app/google-services.json

# Firebase / platform config generated locally
GoogleService-Info.plist
firebase_app_id_file.json
lib/firebase_options.dart

# Generated assets / caches
assets/generated/

# Misc
.DS_Store
*.log
